* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0px 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 28px;
  padding: 10px;
  width: 100%;
  border: none;
}

.header__searchIcon {
    padding: 5px;
    height: 28px;
    width: 28px;
    background-color: rgb(250,189,107);
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}
.header__option {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    color: white;
}
.header__optionLineOne {
    font-size: 10px;
}
.header__optionLineOne {
    font-size: 13px;
    font-weight: 800px;
}

.menu_header {
  height: 40px;
  display: flex;
  align-items: center;
  background-color:#002133;
  position: sticky;
  top: 0px;
  z-index: 50;
  color: white;
}

.menu_header_one {
  font-size: 15px;
  margin: 0px 10px;
}
/*
#2F4F4F
*/
/*
new changes start from home header
*/
/*
css for products is below
*/
.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 15000px;

}
.home__image {
  width: 100%;
  z-index: 1;
  margin-bottom: -250px;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.products {
  margin: 10px 20px;
  display: flex;
  flex-wrap: wrap;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

.product__rating {
  display: flex;
}

.product > button {
  background: rgb(250,189,107);
  border: 1px solid;
  margin-top: 10px;
  color: #111;
}

.product__image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}