<!DOCTYPE html>
<html lang="en">
<head>
     {% block head %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="../static/css/style.css">
      <title>{% block title %} {% endblock %}</title>
    {% endblock %}
</head>
<body>
  {% block header %}
    <!--BEM-->
    <div class="header">
      <img class= "header__logo" src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" />
      <div class="header__search">
        <input type="text" class="header__searchInput" />
        <svg
          class="header__searchIcon"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </div>
      <div class="header__nav">
        <div class="header__option">
          <span class="header__optionLineOne"> Guest </span>
          <span class="header__optionLineTwo"> Login </span>
        </div>
        <div class="header__option">
          <span class="header__optionLineOne"> Return </span>
          <span class="header__optionLineTwo"> & Orders </span>
        </div>
        <div class="header__option">
          <span class="header__optionLineOne">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
              />
            </svg>
          </span>
          <span class="header__optionLineTwo"> 0 </span>
        </div>
      </div>
    </div>
    <!--
      below are the new change i have made
    -->
  <div class="menu_header">
  <span>All</span>
  <div class="menu_header_one">Best sellers</div>
  <div class="menu_header_one">Mobiles</div>
  <div class="menu_header_one">Today's Deal</div>
  <div class="menu_header_one">Fashion</div>
  <div class="menu_header_one">Prime</div>
  <div class="menu_header_one">New Release</div>
  <div class="menu_header_one">Electronics</div>
  <div class="menu_header_one">Customer Service</div>
  <div class="menu_header_one">Amazon pay</div>
  <div class="menu_header_one">Home & Kitchen</div>
  <div class="menu_header_one">Computers</div>
  <div class="menu_header_one">Toys & games</div>
  <div class="menu_header_one">Books</div>
  <div class="menu_header_one">Sell</div>

  </div>

{% endblock %}
  <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2021 by <a href="http://amazon-clone.com/">amazon-clone</a>.
      {% endblock %}
  </div>
</body>
</html>